<!DOCTYPE html>
    <head>
        <title>Student Market Place</title>
    </head>
    <body>
        <!-- <form method="POST" action="/add ">
            <input type="text" name="title" placeholder="Item name" required>
            <input type="text" name="price" placeholder="Item price" required>
            <select name="category" required>
                <option value="">Select category</option>
                <option value="Electronics">Electronics</option>
                <option value="Furniture">Furniture</option>
                <option value="Clothing">Clothing</option>
                <option value="Room">Room</option>
                <option value="Kitchen">Kitchen</option>
            </select>
            <label>
                <input type="checkbox" name="featured">
                Boost this listing (500 XAF)
            </label>
            <button type="submit">Add</button>
        </form> -->
        
        <!-- <hr> -->
        <a href="/create">
            <button>Add New Listing</button>
        </a>

        <form action="/" method="get">
            <input type="text" name="search" placeholder="Search listings..." value="{{ request.args.get('search', '') }}">
            <button type="submit">Search</button>
        </form>

        <h1>Available listings</h1>
                <h3>Filter by Category</h3>
                <a href="/">All</a>
                <a href="/?category=Furniture">Furniture</a>
                <a href="/?category=Kitchen">Kitchen</a>
                <a href="/?category=Electronics">Electronics</a>
                <a href="/?category=Room">Room</a>
                <a href="/?category=Clothing">Clothing</a>
                <a href="/?category=Other">Other</a>
        {% for item in listings %}
            <div style="border:1px soild black; padding: 10px; margin: 10px;">

                <!-- {% if item[3] == 1 %}
                    <strong style="color: red;">🔥 Featured</strong><br>
                {% endif %} -->

                <h2>{{ item['title'] | highlight(search) }} 
                        {% if item['is_featured'] == 1 %}
                        
                            <span style="color:red;">🔥</span>
                            <br>
                            <small style="color: red;">featured</small>
                        {% endif %}
                </h2>
                <p>Price: {{ item['price'] | highlight(search) }}</p>
                {% if item['image'] %}
                    <img src="{{ url_for('static', filename='uploads/' + item['image']) }}" width="200">
                {% endif %}
                <p>{{ item['description'][:120] }}...</p>
                {% if item['days_left'] < 0 %}
                    <p>Expired {{ (item['days_left'] * -1) }} day(s) ago</p>
                    <span style="color:gray;"><small>expired</small></span>
                {% else %}
                    <p>Leaving in: {{ item['days_left'] }} days</p>
                {% endif %}
                {% if 0 <= item['days_left'] <= 3 %}
                    <span style="color: orange; font-weight:bold;"><small>⚡urgent</small></span>
                {% endif %}
                <p>Phone: {{ item['phone'] | highlight(search) }}</p>
                <a href="https://wa.me/{{ item['phone'] }}" target="_blank">
                    <button>Contact on WhatsApp</button>
                </a>
                <p>Category: {{ item['category'] | highlight(search) }}</p>

<!-- Edit and delete -->

                <a href="/edit/{{ item['id'] }}">
                    <button>Edit</button>
                </a>
                <form method="POST" action="/delete/{{ item['id'] }}" onsubmit="return confirm('Are you sure you want to delete this listing?');">
                    <button type="submit">Delete</button>
                </form>
                 
            </div>
        {% endfor %}
    </body>

<style>
    mark {
        background-color: #ffd54f;
        padding: 2px;
        border-radius: 3px;
    }
</style>
</html>
